.blog__banner{
    width: 100%;
    height: 350px;
    float: left;
    background: linear-gradient(235.49deg, #90CE55 -2.35%, #FFEA7A 98.95%), #C4C4C4;
    border-radius: 8px;
    margin: 35px 0 65px;
    position: relative;
    .content{
        position: absolute;
        width: 100%;
        max-width: 330px;
        top: 50%;
        left: 86px;
        z-index: 2;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        h2{
            font-weight: 300;
            line-height: 43px;
            font-size: 35px;
            color: #1A1A1A;
            margin-bottom: 25px;
        }
    }
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        left: 40%;

    }
    .small__zebrabus{
        position: absolute;
        bottom: 5px;
        right: -158px;
        text-align: center;
        h2{
            padding-right: 50px;
            color: #FFFFFF;
            font-family: Caveat;
            margin-bottom: 3px;
        }
    }
}
.article__post{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    .thumbnail{
        width: 100%;
        height: 250px;
        float: left;
        background-position: center;
        background-size: cover;
        margin-bottom: 12px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    .detail{
        width: 100%;
        float: left;
        .data{
            width: 100%;
            float: left;
            display: block;
            margin-bottom: 7px;
            font-weight: 300;
            line-height: normal;
            font-size: 14px;
            color: #1A1A1A;
        }
        h4{
            font-weight: 300;
            line-height: normal;
            font-size: 23px;
            color: #1A1A1A;
            margin-bottom: 0;
        }
    }
    &:hover{
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
.more__posts{
    width: 100%;
    height: 250px;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 60px 50px;
    h4{
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        font-size: 23px;
        color: #1A1A1A;
        margin-bottom: 21px;
    }
}
.subscribe__block{
    width: 100%;
    height: 393px;
    position: relative;
    .quotes__block{
        width: 100%;
        max-width: 725px;
        position: absolute;
        left: 30%;
        top: 90px;
        background-image: url(../images/zebra_qoutes.png);
        h5{
            padding: 40px 70px 60px 87px;
            font-weight: normal;
            line-height: 36px;
            font-size: 32px;
            color: #1A1A1A;
            margin-bottom: 0;
        }
    }
}
.reading__zebra{
    width: 486px;
    height: 378px;
    display: block;
    background-image: url(../images/reading_zebra.png);
    position: absolute;
    bottom: -100px;
    left: 30px;
}
.subscribe__form{
    width: 100%;
    max-width: 343px;
    float: left;
    position: absolute;
    left: 41%;
    bottom: 40px;
    .arrow__block{
        width: 58px;
        height: 66px;
        display: block;
        background-image: url(../images/arrow_icon.svg);
        -webkit-transform: rotate(-7deg);
        transform: rotate(-7deg);
        position: absolute;
        left: -73px;
        bottom: 5px;
    }
    .line__icon{
        width: 37px;
        height: 37px;
        display: block;
        background-image: url(../images/line_icon.svg);
        position: absolute;
        top: -33px;
        right: -25px;
    }
    >div{
        max-width: 100%!important;
        >div{
            padding: 0!important;
            border-radius: 0!important;
            overflow: visible!important;
        }
    }
    .form_subscribe{
        width: 100%;
        float: left;
        position: relative;
        .message_error{
            position: absolute;
            bottom: -30px;
            left: 25px;
            font-size: 12px;
        }
        .field{
            width: 100%;
            padding: 0 40px 0 26px!important;
            height: 45px!important;
            background: #FFFFFF!important;
            box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.15)!important;
            border-radius: 28px!important;
            font-family: Roboto!important;
            font-weight: normal!important;
            line-height: 19px!important;
            font-size: 14px!important;
            color: #818181!important;
            outline: none!important;
            border: none!important;
        }
        p{
            width: 100%;
            float: left;
            margin-bottom: 0!important;
        }
        button.form_subscribe_button{
            width: 33px!important;
            height: 33px!important;
            position: absolute!important;
            display: block!important;
            top: 6px!important;
            right: 6px!important;
            background: #8AC74F!important;
            border-radius: 50%!important;
            cursor: pointer;
            outline: none!important;
            color: transparent!important;
            overflow: hidden;
            -webkit-transition: all 0.3s ease!important;
            transition: all 0.3s ease!important;
            &::before{
                content: '';
                width: 16px;
                height: 14px;
                display: block;
                background-image: url(../images/subscribe_icon.svg);
                position: absolute;
                left: 7px;
                top: 9px;
            }
            &:hover{
                background: #FFEC8B!important;
            }
        }
    }
}
.post__banner{
    width: 100%;
    height: 445px;
    float: left;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin: 35px 0 40px;
    overflow: hidden;
}
.title__block{
    width: 100%;
    float: left;
    margin-bottom: 20px;
    h1{
        font-weight: 300;
        line-height: normal;
        font-size: 35px;
        color: #1A1A1A;
    }
    span{
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        color: #1A1A1A;
    }
}
.share__block{
    width: 100%;
    float: left;
    margin-top: 7px;
    margin-bottom: 60px;
    span{
        font-weight: 300;
        line-height: normal;
        font-size: 14px;
        color: #1A1A1A;
        margin-right: 5px;
        display: inline-block;
    }
    ul{
        display: inline-block;
        margin: 0;
        padding: 0;
        line-height: 0;
        vertical-align: bottom;
        li{
            display: inline-block;
            margin-left: 10px;
            i{
                width: 25px;
                height: 25px;
                display: block;
                border-radius: 50%;
                overflow: hidden;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                position: relative;
                cursor: pointer;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
                &.google{
                    background-color: #DC4E41;
                    &::before{
                        width: 16.5px;
                        height: 12px;
                        background-image: url(../images/google_icon.svg);
                    }
                }
                &.twitter{
                    background-color: #55ACEE;
                    &::before{
                        width: 15px;
                        height: 12px;
                        background-image: url(../images/twitter_icon.svg);
                    }
                }
                &.facebook{
                    background-color: #3B5998;
                    &::before{
                        width: 8px;
                        height: 17px;
                        background-image: url(../images/fb_icon.svg);
                    }
                }
                &:hover{
                    border-radius: 3px;
                }
            }
        }
    }
}
.content__editor{
    width: 100%;
    float: left;
    margin: 20px 0 30px;
    img{
        max-width: 100%;
        height: auto;
        &.alignleft{
            float: left;
            margin: 0 30px 20px 0;
        }
        &.alignright{
            float: right;
            margin: 0 0 20px 30px;
        }
        &.aligncenter{
            display: block;
            margin: 0 auto 20px;
        }
    }
    a{
        min-width: 140px;
        height: 40px;
        display: inline-block;
        padding: 10px 28px 11px;
        border-radius: 26px;
        font-weight: 400;
        font-size: 14px;
        line-height: normal;
        text-align: center;
        color: #fff;
        background: #8AC74F;
        border: 1px solid #8AC74F;
        box-shadow: 0 6px 15px rgba(0,0,0,.15);
        &:hover{
            color: #8AC74F;
            background: #fff;
            text-decoration: none;
        }
    }
    p{
        margin-bottom: 24px;
    }
}
.gallery__images{
    width: 100%;
    float: left;
    margin: 20px 0 45px;
    display: inline-block;
    a{
        width: 25%;
        display: inline-block;
        float: left;
        margin: 15px 0 15px 0;
        padding: 0 15px; 
        position: relative;
        &::before{
            content: '';
            display: block;
            width: 2px;
            height: 36px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -18px 0 0 -1px;
            -webkit-transition: all 0.4s ease;
                    transition: all 0.4s ease;
            -webkit-transform: rotateZ(-60deg) translateX(-50px);
                    transform: rotateZ(-60deg) translateX(-50px);
            opacity: 0;
            z-index: 1;
            
        }
        &::after{
            content: '';
            display: block;
            width: 36px;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -18px;
            -webkit-transition: all 0.4s ease;
                    transition: all 0.4s ease;
            -webkit-transform: rotateZ(60deg) translateY(-50px);
                    transform: rotateZ(60deg) translateY(-50px);
            opacity: 0;
            z-index: 1;
        }
        &:hover{
            &::before,
            &::after{
                -webkit-transform: rotateZ(0) translate(0);
                        transform: rotateZ(0) translate(0);
                opacity: 1;
            }
            img{
                opacity: 0.6;
            }
        }

    }
    img{
        width: 100%;
        height: auto;
        -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
        border-radius: 3px;
        overflow: hidden;
    }
}
.banner__text{
    width: 100%;
    float: left;
    margin: 20px 0 60px;
}
.banner__image{
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin: 20px 0 60px;
    .title__row{
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #8AC74F;
        h5{
            padding: 18px 155px 21px 25px;
            color: #fff;
            margin-bottom: 0;
            line-height: 21px;
            font-weight: 400;
        }
        a{
            position: absolute;
            top: 50%;
            right: 25px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            &:hover{
                text-decoration: none;
                background-color: #fff;
                color: #8AC74F;
            }
        }
    }
    img{
        width: 100%;
        height: auto;
        float: left;
    }
}
@include media-breakpoint-down(lg){
    .reading__zebra{
        left: -50px;
    }
    .subscribe__block .quotes__block{
        left: 25%;
    }
    .subscribe__form{
        left: 37%;
    }
}
@include media-breakpoint-down(md){
    .reading__zebra{
        display: none;
    }
    .subscribe__block .quotes__block{
        left: 50%;
        margin-left: -362.5px;
        h5{

        }
    }
    .subscribe__form{
        left: 50%;
        margin-left: -171.5px;
    }
    .blog__banner{
        .small__zebrabus{
            right: -250px;
        }
    }
    blockquote{
        padding: 40px 60px 40px 110px;
    }
    .banner__image, .banner__text{
        margin: 0 0 30px;
    }
    .gallery__images a{
        width: 50%;
    }

}
@include media-breakpoint-down(sm){
    .subscribe__block{
        height: auto;
        margin: 40px 0 50px;
        .quotes__block{
            max-width: inherit;
            background-image: none;
            margin-left: 0;
            left: 0;
            position: static;
            margin-bottom: 60px;
            h5{
                padding: 20px 30px;
            }
        }
    }
    .subscribe__form{
        position: static;
        margin: 0 auto 140px;
        width: 100%;
        max-width: 340px;
        float: none;
    }
    .blog__banner{
        .content{
            max-width: inherit;
            width: auto;
            left: 30px;
            right: 30px;
        }
        .small__zebrabus{
            display: none;
        }
    }
    .post__banner{
        height: 350px;
    }
}
@include media-breakpoint-down(xs){
    .subscribe__block{
        margin: 60px 0 30px;
        .quotes__block{
            margin-bottom: 30px;
            h5{
                font-size: 28px;
                padding: 0;
            }
        }
    }
    .subscribe__form {
        margin: 0 auto 100px;
        .arrow__block{
            display: none;
        }
    }
    .more__posts{
        padding: 35px 30px;
    }
    blockquote{
        padding: 20px 30px 20px 90px;
        &::before{
            left: 25px;
        }
    }
    .gallery__images{
        a{
            width: 100%;
            margin: 15px 0 0 0;
            padding: 0;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}