/*Footer*/
footer{
    width: 100%;
    float: left;
    .top__line{
        width: 100%;
        float: left;
        padding: 30px 0 25px;
        background-color: #F7F7F7;
    }
    .bottom__line{
        width: 100%;
        float: left;
        padding: 27px 0 28px;
        background-color: #EEEEEE;
        .copyrights{
            text-align: center;
            p{
                font-weight: 300;
                line-height: 22px;
                font-size: 16px;
                color: #1A1A1A;
                margin-bottom: 0;
            }
        }
    }
    .navigation__widget{
        width: 100%;
        float: left;
        &.padding__left{
            padding-left: 45px;
        }
        ul{
            width: 100%;
            float: left;
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                width: 50%;
                float: left;
                line-height: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
                &.icon{
                    a{
                        position: relative;
                        &::after{
                            content: '';
                            display: block;
                            width: 15px;
                            height: 15px;
                            background-image: url(../images/footer_link.svg);
                            position: absolute;
                            top: 0px;
                            right: -20px;
                        }
                    }
                }
                &.underline{
                    a{
                        text-decoration: underline;
                        &:hover{
                            color: #8AC74F;
                            text-decoration: underline;
                        }
                    }
                }
                a{
                    font-weight: 300;
                    line-height: 30px;
                    font-size: 14px;
                    color: #1A1A1A;
                    white-space: nowrap;
                    &:hover{
                        text-decoration: none;
                        color: #8AC74F;
                    }
                }
            }
        }
    }
    .contact__widget{
        width: 100%;
        float: left;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                width: 100%;
                float: left;
                margin: 4px 0 12px 0;
                position: relative;
                padding-left: 27px;
                a{
                    font-weight: 300;
                    line-height: 21px;
                    font-size: 16px;
                    color: #1A1A1A;
                    text-decoration: none;
                    &:hover{
                        color: #8AC74F;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        display: block;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    &.phone::before{
                        width: 14px;
                        height: 15.75px;
                        background-image: url(../images/phone_icon.svg);
                    }
                    &.email::before{
                        width: 17px;
                        height: 12.75px;
                        background-image: url(../images/email_icon.svg);
                    }
                }
            }
        }
    }
    .social__widget{
        width: 100%;
        float: left;
        .social__list{
            width: 100%;
            float: left;
            padding: 0;
            margin: 6px 0 0;
            list-style: none;
            li{
                float: left;
                margin-right: 20px;
                a{
                    width: 20px;
                    height: 20px;
                    display: block;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    &.instagram{
                        background-image: url(../images/instagram_icon.svg);
                    }
                    &.facebook{
                        background-image: url(../images/facebook_icon.svg);
                    }
                    &:hover{
                        -webkit-animation: jump 0.8s ease 0s infinite normal;
                        animation: jump 0.8s ease 0s infinite normal;
                    }
                }
            }
        }
    }
    .widget{
        width: 100%;
        float: left;
        h6{
            font-weight: normal;
            line-height: 23px;
            font-size: 18px;
            color: #1A1A1A;
            margin-bottom: 15px;
        }
    }
}
@-webkit-keyframes jump {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes jump {
  0%{
    transform: translateY(0);
  }
  20%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(0);
  }
  60%{
    transform: translateY(-5px);
  }
  80%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(0);
  }
}
@include media-breakpoint-down(md){
    footer{
        .navigation__widget{
            margin: 0 0 30px 0;
            &.padding__left{
                padding-left: 0;
            }
        }
    }   
}
@include media-breakpoint-down(xs){
    footer .navigation__widget ul li{
        width: 100%;
    }
    .social__widget{
        margin-top: 30px;
    }
}
