/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Caveat');
html{
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    &.admin-bar{
        header{
            top: 32px;
        }
    }
}
a,
.btn{
    -webkit-transition: all 0.3s ease!important;
    transition: all 0.3s ease!important;
}
h1{
    font-weight: 300;
    line-height: normal;
    font-size: 60px;
}
h2{
    font-weight: 300;
    line-height: 45px;
    font-size: 35px;
}
h3{
    font-weight: 300;
    line-height: 30px;
    font-size: 23px;
    margin-bottom: 20px;
}
h4{
    font-weight: 300;
    line-height: normal;
    font-size: 20px;
}
h5{
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
}
h6{
    font-weight: 300;
    line-height: normal;
    font-size: 16px;
}
p{
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    font-size: 16px;
    color: #818181;
}
blockquote{
    width: 100%;
    max-width: 820px;
    display: block;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 40px 235px 40px 110px;
    position: relative;
    margin: 20px 0 30px;
    &::before{
        content: '';
        width: 37px;
        height: 25px;
        display: block;
        position: absolute;
        top: 55px;
        left: 43px;
        background-image: url(../images/blockquote.svg);
    }
    p{
        font-style: italic;
        font-weight: 400;
        line-height: 27px;
        font-size: 18px;
        color: #1A1A1A;
        margin-bottom: 0!important;
    }
}
strong,
b{
    font-weight: bold;
}
.container{
    max-width: 1330px!important;
}
.slogan{
    font-family: 'Caveat', cursive;
}
.no__padding{
    padding-right: 0!important;
    padding-left: 0!important;
    overflow: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
.textwidget{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    font-size: 16px;
    color: #1A1A1A;
}
// ::-webkit-scrollbar {
//     width: 4px;
// }
// ::-webkit-scrollbar-track {
//     background: #fff;
// }
// ::-webkit-scrollbar-thumb {
//     background: #8AC74F;
// }
// ::-webkit-scrollbar-thumb:hover {
//     background: rgba(16,16,16,1);
// }
// ::-webkit-scrollbar-thumb:active {
//     background: #000;
// }
@media screen and (max-width: 1500px){
    .container{
        max-width: 1140px!important;
    }
}
.cf7sr-g-recaptcha{
    width: 100%;
    float: left;
    margin-bottom: 18px;
}
/*Button*/
.btn{
    min-width: 140px;
    height: 40px;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    padding: 10px 28px 11px;
    border-radius: 26px;
    text-align: center;
    display: inline-block;
    &.green__btn{
        color: #fff!important;
        background: #8AC74F;
        border: 1px solid #8AC74F;
        &:hover{
            color: #8AC74F!important;
            background: #fff;
        }
    }
    &.yellow__btn{
        background: #FFEC8B;
        color: #1A1A1A;
        &:hover{
            background: #1A1A1A;
            color: #fff;
        }
    }
    &.simple__btn{
        border: 1px solid #F1F1F1;
        background-color: #fff;
        color: #818181;
        &:hover{
            color: #fff!important;
            background: #8AC74F;
            border: 1px solid #8AC74F;
        }
    }
    &.shadow:hover{
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    }
    &.small{
        font-weight: 400;
        min-width: 130px;
        height: 37px;
        padding: 9px 22px; 
    }
    &.white__btn{
        border: 1px solid #fff;
        font-size: 14px;
        color: #818181;
        font-weight: 400;
        background-color: #fff;
        &:hover{
            color: #fff!important;
            background: #8AC74F;
            border-color: #8AC74F;
        }
    }
    &.black__btn{
        background: #1A1A1A;
        border-color: #1A1A1A;
        color: #fff;
        &:hover{
            border-color: #8AC74F;
            background: #8AC74F;
            color: #fff;
        }
    }
    &:focus{
        box-shadow: none;
    }
    &.adv__btn{
        min-width: auto;
        height: auto;
        background: #FFEC8B;
        border-radius: 3px;
        padding: 12px 19px 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #1A1A1A;
        border: none;
        &:hover{
            background-color: #8AC74F;
            color: #fff;
        }
    }
}
.details__btn{
    display: inline-block;
    padding: 6px 15px 7px;
    background: #FFEC8B;
    border-radius: 3px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #1A1A1A;
}
/*Main*/
main{
    width: 100%;
    min-height: 70vh;
    float: left;
    padding: 91px 0 0 0;
    pointer-events: inherit!important;
}
section{
    width: 100%;
    float: left;
    position: relative;
    &.padding{
        padding: 70px 0;
    }
    &.small__padding{
        padding: 0 0 70px;
    }
    &.gradient{
        background: linear-gradient(245.65deg, #90CE55 -2.44%, #FFEA7A 108.19%);
    }
    &.coach{
        padding: 0 0 30px;
    }
    &.partners__section{
        padding: 120px 0 135px;
    }
    &.routes__section{
        padding: 50px 0 30px;
        &::before{
            content: '';
            width: 2271px;
            height: 1077px;
            display: block;
            position: absolute;
            top: -135px;
            left: -18px;
            pointer-events: none;
            background-image: url(../images/dots_layer.png);
        }
    }
}
div.gradient{
    background: linear-gradient(245.65deg, #90CE55 -2.44%, #FFEA7A 108.19%);
}
.circle__container{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    pointer-events: none;
}
.circle{
    display: block;
    position: absolute!important;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    &.circle__1{
        width: 699px;
        height: 699px;
        top: -150px!important;
        right: -150px!important;
        left: auto!important;
    }
    &.circle__2{
        width: 607px;
        height: 607px;
        top: auto!important;
        right: -170px!important;
        bottom: -170px!important;
        left: auto!important;
    }
    &.circle__3{
        width: 699px;
        height: 699px;
        top: -285px!important;
        right: -219px!important;
        left: auto!important;
    }
    &.circle__4{
        width: 699px;
        height: 699px;
        top: 329px!important;
        left: -265px!important;
    }
}
@include media-breakpoint-down(md){
    main{
        padding: 65px 0;
    }
}
/*Main banner*/
.information__section{
    height: 650px;
    background-color: #fff;
    position: relative;
    .content{
        position: relative;
        z-index: 1;
        padding: 92px 0 0 0;
    }
    .benefits__list{
        width: 100%;
        float: left;
        margin-top: 34px;
        .benefit{
            width: 100%;
            float: left;
            position: relative;
            padding-left: 38px;
            margin-bottom: 45px;
            h5{
                float: left;
                margin-bottom: 0;
                color: #818181;
            }
            img{
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            a{
                float: left;
                position: relative;
                h5{
                    position: relative;
                    padding-right: 30px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    &::after{
                        content: '';
                        width: 100%;
                        height: 1px;
                        display: block;
                        background-color: #E8E8E8;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                    }
                }
                &:hover{
                    text-decoration: none;
                    h5{
                        color: #8AC74F;
                    }
                }
                .link{
                    width: 17px;
                    height: 17px;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 1px;
                    background-image: url(../images/link_icon.svg);
                }
            }
        }
    }
    .btn__row{
        a{
            margin-right: 30px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .image{
        position: absolute;
        top: 23px;
        right: 1px;
        width: 907px;
        height: 600px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.bus__block{
    width: 210px;
    height: 120px;
    display: block;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 3px;
    .image{
        width: 100%;
        float: left;
        text-align: center;
        position: absolute;
        bottom: 62px;
        left: 0;
    }
    h6{
        width: 100%;
        float: left;
        margin-top: 76px
    }
}
@media screen and (max-width: 1600px){
    .information__section {
        .image{
            width: 700px;
            height: 452px;
            top: 90px;
        }
    }

}
@media screen and (max-width: 1400px){
    .information__section {
        height: auto;
        .image{
            width: 500px;
            height: 300px;
            top: 120px;
        }
    }
}
@include media-breakpoint-down(md){
    .information__section {
        height: auto;
        padding-bottom: 130px;
        .image{
            width: 450px;
            top: 80px;
        }
        .content{
            padding: 30px 0 0 0;
        }
    }
}
@include media-breakpoint-down(sm){
    section.padding{
        padding: 40px 0;
    }
    .information__section {
        padding-bottom: 60px;
        .image{
            display: none;
        }
        h1{
            font-size: 48px;
        }
        .benefits__list .benefit{
            margin-bottom: 35px;
        }
        .btn__row{
            a{
                margin-right: 10px;
            }
        }
    }
    .bus__block{
        width: 100%;
        margin-right: 0;
    }
}
@include media-breakpoint-down(xs){
    .information__section {
        .image{
            display: none;
        }
        h1{
            font-size: 36px;
        }
    }
}
/*Page*/
.page__title{
    width: 100%;
    float: left;
    margin: 40px 0 20px;
    h1{
        font-weight: 300;
        line-height: 45px;
        font-size: 35px;
        color: #1A1A1A;
        margin-bottom: 0;
    }
}
@include media-breakpoint-down(md){
    .page__title h1{
        font-size: 30px;
        line-height: 36px;
    }
}
/*Timetable*/
.section__title{
    h2{
        color: #1A1A1A;
        margin-bottom: 20px;        
    }
    span{
        font-weight: 300;
        line-height: 26px;
        font-size: 20px;
        color: #1A1A1A;
        &.grey{
            color: #818181;
        }
    }
}
.timetable{
    position: relative;
    .circle__1{
        width: 739px;
        height: 741px;
        top: -212px!important;
        left: -55px!important;
        right: inherit!important;
    }
    .circle__2 {
        width: 699px;
        height: 699px;
        top: 87px!important;
        right: -304px!important;
        left: inherit!important;
    }
    .tab__block{
        width: 720px;
        float: left;
        margin-top: 41px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
        h5{
            color: #8AC74F;
            line-height: 23px;
            margin-bottom: 3px;
            font-weight: 400;
        }
        p{
            font-weight: normal;
            line-height: 18px;
            font-size: 14px;
            color: #818181;
        }
        .tab__nav{
            width: 100%;
            float: left;
            .tab{
                margin-right: 7.5px;
                text-align: center;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
                &:nth-child(1){
                    width: 235px;
                }
                &:nth-child(2){
                    width: 235px;
                }
                &:nth-child(3){
                    width: 235px;
                    margin-right: 0;
                }
                float: left;
                text-align: center;
                h6{
                    padding: 11px 0px;
                    background: #8AC74F;
                    line-height: 21px;
                    margin-bottom: 0;
                    cursor: pointer;
                    text-align: center;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    color: #fff;
                    font-size: 14px;
                }
                &.active,
                &:hover{
                    h6{
                        background-color: #fff;
                        color: #1A1A1A;
                    }
                }
            }
        }
        .tab__content{
            width: 100%;
            float: left;
            background: #FFFFFF;
            padding: 40px 110px 22px 108px;
            .tab{
                width: 100%;
                float: left;
                display: none;
                &.active{
                    display: block;
                }
            }
            .timetable__block{
               width: 100%;
                float: left; 
            }
        }
        .table{
            width: 100%;
            float: left;
            margin-bottom: 19px;
            position: relative;
            &::before{
                content:'';
                width: 30px;
                height: 112px;
                display: block;
                background-image: url(../images/arrow.svg);
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                margin-top: -15px;
                left: -54px;
            }
            .table__row{
                width: 100%;
                float: left;
                margin-bottom: 31px;
                div{
                    float: left;
                    line-height: 21px;
                    font-size: 16px;
                    color: #1A1A1A;
                    &.stations{
                        width: 55%;
                        &.small{
                            width: 50%;
                        }
                    }
                    &.status{
                        width: 20%;
                    }
                    &.time{
                        width: 25%;
                        text-align: right;
                        &.time__1{
                            width: 15%;
                        }
                        &.time__2{
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
    .image__block{
        position: absolute;
        right: 0;
        bottom: 24px;
        .slogan{
            font-size: 45px;
            color: #FFFFFF;
            text-align: right;
            padding-right: 192px;
            margin-bottom: 0;
        }
    }
}
@media screen and (max-width: 1750px){
    .timetable .image__block{
        .slogan{
            padding-right: 50px;
        }
        img{
            width: 700px;
        }
    }
}
@media screen and (max-width: 1500px){
    .timetable .image__block{
        .slogan{
            padding-right: 50px;
        }
        img{
            width: 600px;
        }
    }
}
@media screen and (max-width: 1280px){
    .timetable .image__block{
        img{
            width: 500px;
        }
    }
}
@media screen and (max-width: 1120px){
    .timetable .image__block{
        img{
            width: 400px;
        }
    }
}
@include media-breakpoint-down(md){
    .timetable {
        .tab__block{
            width: 100%;
            box-shadow: none;
            .tab__nav .tab {
                // &:nth-child(1){
                //     width: 160px;
                // }
                // &:nth-child(2){
                //     width: 190px;
                // }
                // &:nth-child(3){
                //     width: 225px;
                // }
                h6{
                    font-size: 14px;
                    padding: 10px;
                }
            }
            .tab__content{
                padding: 40px 50px 22px 80px;
                box-shadow: 0 8px 15px rgba(0,0,0,.1);
            }
        }
        .image__block{
            display: none;
        }
    }
}
@include media-breakpoint-down(sm){
    .section__title {
        h2{
            font-size: 30px;
        }
        span{
            font-size: 16px;
        }
    }
    .timetable {
        .tab__block{
            .tab__nav .tab {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3){
                    width: 100%;
                    border-bottom: 1px solid #8AC74F;
                }
            }
            .tab__content{
                padding: 30px 20px 20px 20px;
            }
            .table{
                .table__row {
                    margin-bottom: 15px;
                    div{
                        font-size: 14px;
                        padding: 0 5px;
                        &.stations.small{
                            width: 35%;
                        }
                        &.time.time__1,
                        &.time.time__2{
                            width: 22.5%;
                        }
                    }
                }
            }
            .table::before{
                display: none;
            }
        }
    }
}
/*Stops*/
.stops{
    width: 100%;
    position: relative;
    .section__title{
        margin-top: 72px;
    }
    .stops__block{
        width: 100%;
        float: left;
        margin-bottom: 80px;
        .stop{
            width: 100%;
            float: left;
            margin: 15px 0;
            padding: 20px 20px 26px 20px;
            background: #FFEC8B;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.17);
            h4{
                margin-bottom: 8px;
            }
            p{
                font-weight: 300;
                line-height: 19px;
                font-size: 14px;
                color: #1A1A1A;
                margin-bottom: 17px;
            }
        }
    }
}
.map__block{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 1090px;
    height: 100%;
    .address__list{
        display: none;
    }
    .map__wrapper{
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 1750px){
    .map__block{
        max-width: 900px;
    }
}
@media screen and (max-width: 1500px){
    .map__block{
        max-width: 800px;
    }
}
@media screen and (max-width: 1280px){
    .map__block{
        max-width: 650px;
    }
}
@include media-breakpoint-down(md){
    .stops .stops__block .stop{
        padding: 15px;
        margin: 10px 0;
        p{
            margin-bottom: 10px;
        }
    }
    .map__block{
        width: 100%;
        max-width: 100%;
        height: 400px;
        position: static;
    }
}
/*Tickets*/
.tickets{
    .circle__1{
        width: 741px;
        height: 741px;
        top: 62px!important;
        left: -312px!important;
    }
    .circle__2{
        width: 484px;
        height: 484px;
        top: -158px!important;
        right: -77px!important;
        left: inherit!important;
    }
    .circle__3{
        width: 537px;
        height: 537px;
        bottom: -156px!important;
        right: -199px!important;
        left: inherit!important;
        top: inherit!important;
    }
    .table__title{
        width: 100%;
        float: left;
        position: relative;
        padding-left: 42px;
        margin-top: 27px;
        margin-bottom: 25px;
        img{
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        h3{
            margin-bottom: 0;
        }
    }
    .pricelist__table{
        width: 100%;
        float: left;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        padding: 21.5px 90px 21.5px 46px;
        margin-bottom: 37px;
        .table__row{
            width: 100%;
            float: left;
            margin: 27.5px 0;
            .stations{
                width: 60%;
                float: left;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
            }
            .price{
                padding-left: 34px;
                position: relative;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
                img{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                span{
                    font-weight: 300;
                    line-height: 23px;
                    font-size: 18px;
                    color: #1A1A1A;
                }
            }
            .full__price{
                width: 20%;
                float: left;
                .price{
                    padding-left: 28px;
                }
            }
            .child__price{
                width: 20%;
                float: left;
            }
            .promo__title{
                width: 50%;
                float: left;
                text-align: left;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
            }
            .promo__price{
                width: 50%;
                float: left;
                text-align: right;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
            }
        }
    }
    .how__table{
        width: 100%;
        float: left;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        padding: 25px 45px 25px 45px;
        margin-bottom: 32px;
        .table__row{
            text-align: center;
        }
        h4{
            display: inline-block;
            line-height: 40px;
            font-size: 32px;
            font-family: 'Caveat', cursive;
            color: #1A1A1A;
            margin-bottom: 0;
            margin-right: 39px;
        }
        a{
            margin-top: -12px;
        }
    }
    .information__table{
        width: 100%;
        height: 250px;
        float: left;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 10;
        .table__slider{
            width: 100%;
            float: left;
            .slide{
                padding: 35px 47px 35px 47px;
            }
        }
        .station__info{
            width: 100%;
            float: left;
            margin-bottom: 18px;
            margin-top: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        h4{
            font-weight: 300;
            line-height: 26px;
            font-size: 20px;
            color: #1A1A1A;
            margin-bottom: 30px;
        }
        .info__column{
            width: 50%;
            float: left;
        }
        .table__row{
            width: 100%;
            float: left;
            padding-left: 27px;
            position: relative;
            margin-bottom: 21px;
            img{
                position: absolute;
                top: -1px;
                left: 0;
            }
            h6{
                font-weight: 300;
                line-height: 21px;
                font-size: 16px;
                color: #1A1A1A;
                margin-bottom: 5px;
            }
            p{
                font-weight: 300;
                line-height: 21px;
                font-size: 14px;
                color: #818181;
                margin-bottom: 0;
            }
        }
    }
    .slick-dots{
        width: 100%;
        position: absolute;
        bottom: 20px;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        li{
            display: inline-block;
            margin: 0 5px;
            button{
                border-radius: 50%;
                width: 8px;
                height: 8px;
                display: block;
                background: #DBDBDB;
                border: none;
                color: transparent;
                font-size: 0;
                line-height: 0;
                padding: 0;
                margin: 0;
                cursor: pointer;
                outline: none;
            }
            &.slick-active{
                button{
                    background: #8AC74F;
                }
            }
        }
    }
    .slick-arrow{
        position: absolute;
        width: 12px;
        height: 22px;
        background: transparent;
        border: none;
        color: transparent;
        font-size: 0;
        cursor: pointer;
        outline: none;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 10;
        &.slick-prev{
            background-image: url(../images/prev_slide.svg);
            left: -30px;
        }
        &.slick-next{
            background-image: url(../images/next_slide.svg);
            right: -30px;
        }
    }
    .discount__table{
        width: 100%;
        min-height: 90px;
        float: left;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        padding: 21px 28px;
        margin-bottom: 32px;
        position: relative;
        .table__row{
            float: left;
            position: absolute;
            padding-left: 65px;
            left: 28px;
            right: 28px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            img{
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .text{
                p{
                    font-weight: 300;
                    line-height: 18px;
                    font-size: 14px;
                    color: #818181;
                    margin-bottom: 0;
                    span{
                        font-weight: 300;
                        line-height: 26px;
                        font-size: 18px;
                        color: #1A1A1A;
                    }
                }
            }
        }
    }
    .additional__info{
        width: 100%;
        float: left;
        padding: 27px 27px 33px 27px;
        background: #FFFFFF;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        .price__row{
            width: 100%;
            float: left;
            position: relative;
            margin: 10px 0 26px 0;
            .new__price{
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #000000;
            }
            .old__price{
                font-weight: 300;
                line-height: 18px;
                font-size: 14px;
                text-decoration-line: line-through;
                color: #818181;
                padding-left: 8px;
            }
            .adult__price{
                width: 35%;
                float: left;
                position: relative;
                padding-left: 32px;
            }
            .child__price{
                width: 35%;
                float: left;
                position: relative;
                padding-left: 32px;
            }
            img{
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
        p{
            font-weight: 300;
            line-height: 21px;
            font-size: 14px;
            color: #1A1A1A;
        }
    }
}
.slide{
    outline: none;
}
@media screen and(max-width: 1500px){
    .tickets .pricelist__table{
        padding: 21.5px 46px 21.5px 46px;
    }
    .tickets .how__table{
        padding: 25px 15px;
        h4{
            margin-right: 20px;
        }
    }
}
@include media-breakpoint-down(lg){
    .tickets .how__table h4{
        margin-right: 5px;
        font-size: 28px;
    }
}
@include media-breakpoint-down(md){
    .tickets .pricelist__table{
        padding: 15px 20px;
        .table__row{
            margin: 15px 0;
            >div{
                padding: 0 5px;
            }
        }
    }
    .tickets .how__table{
        padding: 15px 20px;
    }
    .tickets .information__table{
        .table__slider .slide{
            padding: 15px 20px;
        }
    }
    .tickets .discount__table{
        padding: 15px 20px;
    }
}
@include media-breakpoint-down(xs){
    .tickets .pricelist__table .table__row .stations{
        width: 100%;
    }
    .tickets .pricelist__table .table__row .child__price,
    .tickets .pricelist__table .table__row .full__price{
        width: auto;
        text-align: left;
        margin: 15px 10px 0 0;
        .price.float-right{
            float: left!important;
        }
    }
    .tickets .pricelist__table .table__row .promo__title,
    .tickets .pricelist__table .table__row .promo__price{
        width: auto;
        text-align: left;
    }
    .tickets .how__table{
        padding-bottom: 25px;
        h4{
            width: 100%;
            margin-right: 00px;
            margin-bottom: 15px;
            font-size: 22px;
        }
    }
    .tickets .information__table{
        height: 290px;
        .info__column{
            width: 100%;
        }
    }
    .tickets .discount__table{
        min-height: 110px;
    }
}
/*Coach hire*/
.coach{
    position: relative;
    .service{
        width: 100%;
        float: left;
        margin: 26px 0 14px;
        position: relative;
        z-index: 10;
        padding-left: 46px;
        .icon{
            width: 31px;
            height: 31px;
            background: #A3D473;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.13);
            border-radius: 8px;
            text-align: center;
            display: block;
            position: absolute;
            float: left;
            left: 0;
            top: 0;
            img{
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        h6{
            float: left;
            margin-bottom: 0;
            margin-top: 6px;
        }
    }
    .city__stick{
        width: 100%;
        float: left;
        margin-top: 71px;
        padding-right: 25px;
        h3{
            line-height: 30px;
            font-size: 23px;
            color: #818181;
            margin-bottom: 27px;
        }
        .table{
            width: 100%;
            float: left;
            background: #FFEC8B;
            padding: 36px 40px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            ul{
                width: 33.33%;
                float: left;
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    width: 100%;
                    float: left;
                    font-weight: 300;
                    line-height: 34px;
                    font-size: 16px;
                    color: #1A1A1A;
                }
            }
        }
    }
}
.coach{
    .zebra__quotes__block{
        bottom: -90px;
    }
}
.zebra__quotes__block{
    width: 100%;
    max-width: 710px;
    position: absolute;
    right: 217px;
    bottom: 60px;
    top: inherit;
    .image{
        float: right;
        img{
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
    .text{
        width: 270px;
        position: absolute;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        h4{
            font-weight: normal;
            line-height: 38px;
            font-size: 28px;
            color: #1A1A1A;
            font-family: 'Caveat', cursive;
            position: relative;
            &::after{
                content: '';
                width: 72px;
                height: 84px;
                display: block;
                position: absolute;
                bottom: -72px;
                right: 15px;
                background-image: url(../images/arrow_big.svg);
            }
        }
        a{
            margin-top: 26px;
        }
    }
}
@media screen and (max-width: 1800px){
    .zebra__quotes__block{
        right: -20px;
    }
}
@media screen and (max-width: 1367px){
    .zebra__quotes__block{
        max-width: 630px;
        .image{
            width: 430px;
        }
    }
}
@include media-breakpoint-down(lg){
    section.coach{
        padding: 0;
    }
    .zebra__quotes__block{
        max-width: 530px;
        bottom: 300px;
        .image{
            display: none;
        }
    }
    .coach{
        .zebra__quotes__block{
            bottom: 160px;
        }
    }
}
@include media-breakpoint-down(md){
    .coach .city__stick{
        padding-right: 0;
    }
    .zebra__quotes__block{
        position: static;
        margin: 35px auto 15px;
        float: none;
        max-width: 300px;
        .text{
            position: static;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}
@include media-breakpoint-down(xs){
    .coach .city__stick .table{
        padding: 15px 20px;
    }
    .zebra__quotes__block{
        margin: 50px auto 0;
        right: 0;
        padding: 0 15px;
    }
}
/*Our stops*/
.page,
.blog{
    h1{
        font-weight: 300;
        line-height: 45px;
        font-size: 35px;
        color: #1A1A1A;
        margin-bottom: 30px;
    }
    .page__section{
        padding: 40px 0 130px;
    }
}
.stops__section{
    h2{
        margin-bottom: 30px;
    }
    
}
.map__section{
    position: absolute;
    top: 195px;
    height: 715px;
    margin-bottom: 130px;
}
.map__wrapper{
    width: 100%;
    height: 715px;
    float: left;
    .gm-style-iw{
        width: 380px!important;
        top: 20px!important;
        left: 25px!important;
        h6{
            font-weight: 500!important;
            line-height: normal!important;
            font-size: 16px!important;
            margin-bottom: 8px!important;
            color: #000!important;
        }
        p{
            font-weight: normal!important;
            line-height: 19px!important;
            font-size: 14px!important;
            margin-bottom: 20px!important;
            color: #818181!important;
        }
        .link__row{
            margin-bottom: 20px;
            a{
                margin-right: 15px;
                line-height: 19px;
                font-size: 14px;
                color: #8AC74F;
                text-decoration: underline;
                &.book__btn{
                    display: inline-block;
                    background: #FFEC8B;
                    border-radius: 2px;
                    padding: 6px 15px 7px;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 14px;
                    color: #1A1A1A;
                    text-decoration: none;
                }
            }
        }
    }
}
.map__sidebar{
    width: 100%;
    float: left;
    min-height: 715px;
    background: #FBFBFB;
    border-top: 4px solid #8AC74F;
    padding: 21px 21px 25px 25px;
    position: relative;
    z-index: 100;
    margin-bottom: 130px;
    ul{
        width: 100%;
        float: left;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            width: 100%;
            float: left;
            margin-bottom: 20px;
            position: relative;
            padding-left: 15px;
            cursor: pointer;
            &:hover{
                &::before{
                    background-color: #8AC74F;
                }
                .link{
                    color: #8AC74F;
                }
            }
            &::before{
                content: '';
                width: 6px;
                height: 6px;
                display: block;
                position: absolute;
                left: 0;
                top: 6px;
                background-color: #CDCDCD;
                border-radius: 50%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            .title{
                font-weight: 300;
                line-height: 19px;
                font-size: 14px;
                color: #1A1A1A;
                float: left;
            }
            .link{
                font-weight: 300;
                line-height: 19px;
                font-size: 14px;
                color: #818181;
                float: right;
                cursor: pointer;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }
    }
}
@include media-breakpoint-down(md){
    .map__section{
        top: 160px;
    }
}
@include media-breakpoint-down(sm){
    .map__sidebar{
        height: auto;
        margin-bottom: 30px;
    }
    .map__section{
        position: static;
        margin-top: 15px;
        height: 400px;
    }
    .map__wrapper{
        height: 400px;
    }
}
/*Contact page*/
.zebra__block{
    &.bottom{
        position: absolute;
        right: 0;
        bottom: 87px;
        top: inherit;
    }   
}
.contact__block{
    width: 100%;
    height: 180px;
    margin: 15px 0;
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    text-align: center;
    position: relative;
    .content{
        position: absolute;
        top: 50%;
        left: 38px;
        right: 38px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        img{
            margin-bottom: 20px;
        }
        a{
            color: #1A1A1A;
            &:hover{
                text-decoration: none;
                h5{
                    color: #8AC74F;
                }
            }
        }
        h5{
            font-style: normal;
            font-weight: 300;
            line-height: 26px;
            font-size: 20px;
            color: #1A1A1A;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
    }
    img{
        margin: 0 10px;
        display: inline-block;
    }
    h5{

    }
}
.form__block{
    width: 100%;
    float: left;
    margin-top: 85px;
    h3{
        margin-bottom: 20px;
    }
    .wpcf7,
    form{
        width: 100%;
        float: left;
    }
    .wpcf7-response-output {
        width: 100%;
        float: left;
        margin: 0;
        font-size: 12px;
        text-align: center;
        padding: 10px 15px;
    }
}
.about__company{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.field__group{
    width: 100%;
    float: left;
    display: block;
    position: relative;
    &.half{
        width: 50%;
        &.right{
            padding-right: 15px;
        }
        &.left{
            padding-left: 15px;
        }
    }
    &.name{
        span.wpcf7-form-control-wrap{
            &::before{
                content: '';
                position: absolute;
                top: 16px;
                left: 18px;
                width: 12px;
                height: 13px;
                display: block;
                background-image: url(../images/name_icon.svg);
            }
        }
    }
    &.email{
        span.wpcf7-form-control-wrap{
            &::before{
                content: '';
                position: absolute;
                top: 17px;
                left: 16px;
                width: 15px;
                height: 11px;
                display: block;
                background-image: url(../images/mail_icon.svg);
            }
        }
    }
    &.organisation{
        span.wpcf7-form-control-wrap{
            &::before{
                content: '';
                position: absolute;
                top: 17px;
                left: 16px;
                width: 15px;
                height: 12px;
                display: block;
                background-image: url(../images/organisation_icon.svg);
            }
        }
    }
    &.phone{
        span.wpcf7-form-control-wrap{
            &::before{
                content: '';
                position: absolute;
                top: 15px;
                left: 16px;
                width: 12px;
                height: 14px;
                display: block;
                background-image: url(../images/tel_icon.svg);
            }
        }
    }
    &.location{
        span.wpcf7-form-control-wrap{
            &::before{
                content: '';
                position: absolute;
                top: 15px;
                left: 16px;
                width: 11px;
                height: 16px;
                display: block;
                background-image: url(../images/location_icon.svg);
            }
        }
    }
    &.date{
        span.wpcf7-form-control-wrap{
            &::before{
                content: '';
                position: absolute;
                top: 15px;
                left: 16px;
                width: 15px;
                height: 15px;
                display: block;
                background-image: url(../images/date_icon.svg);
            }
        }
    }
    &.passengers{
        span.wpcf7-form-control-wrap{
            &::before{
                content: '';
                position: absolute;
                top: 14px;
                left: 16px;
                width: 17px;
                height: 17px;
                display: block;
                background-image: url(../images/passengers_icon.svg);
            }
        }
    }
    span{
        width: 100%;
        float: left;
        &.wpcf7-not-valid-tip{
            position: absolute;
            left: 5px;
            bottom: 3px;
            font-size: 10px;
        }
        &.wpcf7-form-control-wrap{
            position: relative;
        }
    }
    .ajax-loader{
        margin-top: 15px!important;
    }
    &.icon{
        .form__field{
            padding: 0 10px 0 37px;
        }
    }
}
.form__field{
    width: 100%;
    height: 46px;
    float: left;
    padding: 0 20px 0 25px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: #1A1A1A;
    outline: none;
    margin-bottom: 20px;
}
input[type="submit"]{
    width: auto;
    padding: 11px 30px 12px;
    background: #8AC74F;
    border-radius: 3px;
    display: inline-block;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #8AC74F;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: none;
    &.full{
        width: 100%;
    }
    &:hover{
        color: #8AC74F;
        background: #fff;
    }
}
textarea.form__field{
    height: 140px;
    resize: none;
    padding: 14px 25px 14px 25px;
}
@media screen and (max-width: 1800px){
    .zebra__block{
        width: 700px;
    }
}
@include media-breakpoint-down(lg){
    .zebra__block{
        width: 500px;
    }
}
@include media-breakpoint-down(md){
    .zebra__block{
        display: none;
    }
}
@include media-breakpoint-down(xs){
    .field__group.half{
        width: 100%;
        &.right{
            padding-right: 0;
        }
        &.left{
            padding-left: 0;
        }
    }
}
/*Tickets*/
.banner__section{
    width: 100%;
    height: 390px;
    position: relative;
    float: left;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 75px;
    &::before{
        content: '';
        width: 640px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-image: url(../images/mask.png);
    }
    .content{
        position: absolute;
        width: 100%;
        max-width: 300px;
        top: 50%;
        left: 110px;
        z-index: 2;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #fff;
        h2{
            font-weight: normal;
            line-height: 43px;
            font-size: 35px;
            color: #FFFFFF;
            margin-bottom: 25px;
        }
        a{
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
        }
    }
}
.offices__title{
    width: 100%;
    float: left;
    margin-bottom: 34px;
    h2{
        float: left;
        display: block;
        margin-bottom: 0;
        margin-right: 25px;
        margin-top: 23px;
    }
    .cities__nav{
        float: left;
        display: block;
        label{
            margin-bottom: 0;
        }
        .title{
            width: 100%;
            float: left;
            font-weight: 300;
            line-height: 18px;
            font-size: 14px;
            color: #1A1A1A;
            margin-bottom: 6px;
        }
    }
}
.offices__block{
    width: 100%;
    float: left;
    .offices__heading{
        width: 100%;
        float: left;
        padding: 0 47px;
        margin-bottom: 17px;
        .column{
            float: left;
            font-weight: 300;
            line-height: 21px;
            font-size: 16px;
            color: #1A1A1A;
            span{
                position: relative;
                padding-left: 24px;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    display: block;
                }
            }
            &.type{
                width: 25%;
                span{
                    &::before{
                        width: 15px;
                        height: 14px;
                        background-image: url(../images/type_icon.svg);
                    }
                }
            }
            &.address{
                width: 25%;
                span{
                    padding-left: 20px;
                    &::before{
                        width: 11px;
                        height: 15px;
                        background-image: url(../images/office_address_icon.svg);
                    }
                }
            }
            &.phone{
                width: 20%;
                span{
                    padding-left: 20px;
                    &::before{
                        width: 11px;
                        height: 13px;
                        background-image: url(../images/office_phone_icon.svg);
                    }
                }
            }
            &.timetable{
                width: 20%;
                span{
                    padding-left: 22px;
                    &::before{
                        width: 13px;
                        height: 13px;
                        background-image: url(../images/office_timetable_icon.svg);
                    }
                }
            }
            &.map{
                width: 10%;
            }
        }
    }
    .offices__body{
        width: 100%;
        float: left;
        margin-bottom: 40px;
        .office__row{
            width: 100%;
            height: 125px;
            position: relative;
            float: left;
            margin-bottom: 20px;
            box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.07);
            border-radius: 3px;
            border-left: 4px solid #8AC74F;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            &.hide{
                display: none;
            }
            &:hover{
                box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06), 0px 4px 9px rgba(0, 0, 0, 0.1);
                .office__content .column.map a::before{
                    opacity: 1;
                }
            }
            .office__content{
                width: 100%;
                float: left;
                padding: 0 43px;
                .column{
                    float: left;
                    height: 125px;
                    position: relative;
                    span,
                    a{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    &.type{
                        width: 25%;
                        font-weight: 300;
                        line-height: 27px;
                        font-size: 20px;
                        color: #1A1A1A;
                        span{
                            right: 30px;
                            left: 0;
                        }
                    }
                    &.address{
                        width: 25%;
                        font-weight: normal;
                        line-height: 18px;
                        font-size: 14px;
                        color: #818181;
                    }
                    &.phone{
                        width: 20%;
                        a{
                            font-weight: normal;
                            line-height: 18px;
                            font-size: 14px;
                            color: #818181;
                        }
                    }
                    &.timetable{
                        width: 20%;
                        font-weight: normal;
                        line-height: 24px;
                        font-size: 14px;
                        color: #818181;
                    }
                    &.map{
                        width: 10%;
                        a{
                            font-style: normal;
                            font-weight: 300;
                            line-height: 18px;
                            font-size: 14px;
                            color: #818181;
                            padding-left: 20px;
                            left: inherit;
                            right: 0;
                            display: block;
                            &::before{
                                content: '';
                                width: 12px;
                                height: 15px;
                                display: block;
                                background-image: url(../images/map_icon.svg);
                                position: absolute;
                                top: 50%;
                                left: 0;
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                                -webkit-transition: all 0.2s ease;
                                        transition: all 0.2s ease;
                                opacity: 0.6;
                            }
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}
.select2-container{
    min-width: 275px;
    outline: none!important;
    .selection{
        .select2-selection{
            height: 43px;
            border: 1px solid #F1F1F1;
            box-sizing: border-box;
            border-radius: 3px;
            .select2-selection__rendered{
                line-height: 41px;
                font-weight: normal;
                font-size: 14px;
                color: #1A1A1A;
                outline: none!important;
            }
            .select2-selection__arrow{
                width: 40px;
                height: 41px;
                b{
                    width: 10px;
                    height: 6.5px;
                    display: block;
                    background-image: url(../images/select_icon.svg);
                    border: none;
                    margin-left: -5px;
                    margin-top: -3.25px;
                }
            }
        }
    }
    .select2-dropdown{
        border: 1px solid #F1F1F1;
        border-radius: 3px;
        box-shadow: 0px 10px 23px rgba(0, 0, 0, 0.11);
        .select2-results{
            ul.select2-results__options{
                padding: 8px 0;
                li.select2-results__option{
                    font-weight: normal;
                    line-height: 19px;
                    font-size: 14px;
                    color: #1A1A1A;
                    padding: 9px 15px;
                    &.select2-results__option--highlighted{
                        background-color: rgba(138, 199, 79, 0.4);
                    }
                }
            }
        }
    }
}
.cities__nav .select2-container .selection .select2-selection .select2-selection__rendered{
    padding: 0 45px;
    position: relative;
    &::before{
        content: '';
        width: 18px;
        height: 20px;
        display: block;
        position: absolute;
        top: 10px;
        left: 15px;
        background-image: url(../images/offices_icon.svg);
    }
}
.additional__text{
    width: 100%;
    float: left;
    padding: 40px 35px 38px;
    background: #F7F7F7;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 60px;
    p{
        font-weight: normal;
        line-height: 25px;
        font-size: 16px;
        color: #1A1A1A;
        margin-bottom: 30px;
    }
}
.partner__block{
    width: 100%;
    height: 120px;
    margin: 15px 0;
    position: relative;
    float: left;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 3px;
    img{
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &:hover{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}
@media screen and (max-width: 1500px){
    .offices__block {
        .offices__heading {
            .column {
                &.phone{
                    width: 15%;
                }
                &.map{
                    width: 15%;
                }
                span{
                    font-size: 14px;
                }
            }
        }
        .offices__body .office__row .office__content {
            .column{
                &.phone{
                    width: 15%;
                }
                &.map{
                    width: 15%;
                }
            }
        }
    }
}
@include media-breakpoint-down(md){
    .banner__section {
        &::before{
            left: -100px;
        }
        .content{
            left: 30px;
        }
    }
    .offices__block {
        .offices__heading {
            .column {
                &.phone{
                    width: 15%;
                }
                &.address{
                    width: 20%;
                }
                &.timetable{
                    width: 25%;
                }
            }
        }
        .offices__body .office__row .office__content {
            .column{
                &.type{
                    span{
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                &.address{
                    width: 20%;
                }
                &.timetable {
                    width: 25%;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .offices__block {
        .offices__heading {
            display: none;
        }
        .offices__body .office__row{
            height: auto;
            .office__content {
                padding: 35px 15px;
                .column{
                    height: auto;
                    &.type,
                    &.address,
                    &.phone,
                    &.timetable ,
                    &.map{
                        width: 100%;
                        float: left;
                        height: auto;
                        margin: 5px 0;
                        text-align: left!important;
                    }
                    a, span{
                        position: static;
                        -webkit-transform: translateY(0);
                        transform: translateY(0);
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .offices__title{
        h2{
            width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .banner__section {
        .content{
            width: auto;
            left: 30px;
            right: 30px;
            max-width: inherit;
            h2{
                font-size: 30px;
                line-height: 38px;
            }
        }
    }
}
/*Gallery section*/
.gallery__section{
    padding: 120px 0 40px;
    .hide__image{
        display: none;
    }
    .gallery{
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 30px;
        border-radius: 3px;
        overflow: hidden;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            background: linear-gradient(0deg, rgba(64, 64, 64, 0.35), rgba(64, 64, 64, 0.35));
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
        }
        &::after{
            content: '';
            width: 44px;
            height: 33px;
            display: block;
            position: absolute;
            top: 30%;
            left: 50%;
            background-image: url(../images/icon_eyes.svg);
            background-size: cover;
            opacity: 0;
            z-index: 11;
            visibility: hidden;
            -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
        &:hover{
            &::before{
                opacity: 1;
                visibility: visible;
            }
            &::after{
                top: 50%;
                opacity: 1;
                visibility: visible;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .load__more{
        width: 100%;
        float: left;
        margin: 0 0 50px;
    }
    .advertising__block{
        width: 100%;
        height: 300px;
        float: left;
        background: linear-gradient(76.59deg, #90CE55 45.12%, #FFEA7A 105.33%), #95CC60;
        border-radius: 8px;
        position: relative;
        padding: 65px 15px 35px;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            background-image: url(../images/additional_image.svg);
            top: 0;
            left: 0;
            z-index: 1;
            pointer-events: none;
        }
        .title{
            width: 100%;
            float: left;
            h2{
                margin-bottom: 7px;
                font-weight: 500;
                color: #fff;
            }
            h3{
                color: #fff;
                margin-bottom: 18px;
            }
        }
        .button__row{
            width: 100%;
            float: left;
            text-align: center;
            a{
                margin: 0 7px;
            }
        }
    }
}
.routes__list{
    width: 100%;
    float: left;
    padding: 45px 0 50px;
}
.route__description{
    width: 100%;
    min-height: 116px;
    float: left;
    margin-bottom: 25px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.06), 0px 4px 13px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    padding: 33px 226px 34px 30px;
    &::before{
        content: '';
        width: 4px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #8AC74F;
        border-radius: 3px 0px 0px 3px;
    }
    .route__block{
        width: 70%;
        float: left;
        h5{
            margin-bottom: 6px;
            color: #1A1A1A;
        }
        p{
            color: #818181;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }
    }
    .dates__block{
        width: 30%;
        float: left;
        h6{
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 4px;
            color: #818181;
        }
        .dates{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #1A1A1A;
        }
    }
    .link__block{
        width: 226px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
        padding: 38px 30px 0 0;
    }
}
.advertising__section{
    padding: 0 0 45px;
}
.advertising{
    width: 100%;
    min-height: 265px;
    float: left;
    background: #29337A;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    padding: 42px 30px 40px 625px;
    .image{
        width: 359px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    .logo{
        width: 266px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 359px;
        img{
            max-width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .text{
        width: 100%;
        float: left;
        color: #FFFFFF;
        h2{
            font-size: 60px;
            line-height: 70px;
            margin-bottom: 14px;
        }
        h3{
            font-size: 30px;
            line-height: 35px;
            margin-bottom: 4px;
        }
    }
}
.group__trips{
    padding: 35px 0 125px;
}
.trip__block{
    width: 100%;
    float: left;
    margin-bottom: 50px;
    .thumbnail{
        width: 100%;
        height: 250px;
        float: left;
        margin-bottom: 15px;
        background-size: cover;
        background-position: center;
        position: relative;
        span{
            position: absolute;
            top: 12px;
            left: 12px;
            background: #FFEC8B;
            border-radius: 3px;
            padding: 10px 17px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #1A1A1A;
            z-index: 2;
        }
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(0deg, rgba(64, 64, 64, 0.35), rgba(64, 64, 64, 0.35));
            opacity: 0;
            visibility: hidden;
            z-index: 1;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
    h3{
        width: 100%;
        float: left;
        margin-bottom: 0;
        color: #1A1A1A;
        b{
            font-weight: 500;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
    &:hover{
        text-decoration: none;
        .thumbnail::before{
            opacity: 1;
            visibility: visible;
        }
        h3{
            b{
                color: #8AC74F;
            }
        }
    }
}
.quote__block{
    width: 100%;
    min-height: 350px; 
    float: left;
    background: linear-gradient(235.49deg, #90CE55 -2.35%, #FFEA7A 98.95%), #C4C4C4;
    border-radius: 8px;
    position: relative;
    padding: 84px 70px;
    .text{
        width: 50%;
        float: left;
        h2{
            font-weight: 400;
            margin-bottom: 10px;
        }
        h3{
            font-weight: 300;
            margin-bottom: 30px;
        }
    }
    .zebrabus__block{
        position: absolute;
        right: -158px;
        top: 42px;
        h2{
            text-align: center;
            color: #fff;
            margin-bottom: 3px;
        }
    }
    &::before{
        content: '';
        width: 485px;
        height: 485px;
        display: block;
        position: absolute;
        left: 400px;
        top: -35px;
        background-image: url(../images/quote_icon.png);
    }
}
.how__we__work__section{
    margin: 70px 0 20px;
}
.form__wrapper{
    width: 100%;
    float: left;
    padding: 60px 147px 70px;
    position: relative;
    background: #F7F7F7;
    border-radius: 3px;
    overflow: hidden;
    h3{
        color: #1A1A1A;
        margin-bottom: 20px;
        padding-left: 15px;
    }
    .half__column{
        width: 50%;
        padding: 0 15px;
        float: left;
    }
    .wpcf7-response-output{
        width: 100%;
        float: left;
        text-align: center;
    }
    &::before{
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        background: #8AC74F;
        position: absolute;
        top: 0;
        left: 0;
    }
    .field__group{
        .placeholder{
            width: 100%;
            float: left;
            font-size: 14px;
            line-height: 16px;
            color: #1A1A1A;
            position: absolute;
            top: -20px;
            left: 0;
        }
        textarea.textarea{
            height: 245px;
        }
    }
    .show__drop__off{
        width: 100%;
        float: left;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        color: #1A1A1A;
        margin-bottom: 20px;
        text-align: center;
        &.hide{
            display: none;
        }
        span{
            display: inline-block;
            position: relative;
            cursor: pointer;
            &::before{
                content: '';
                width: 16px;
                height: 16px;
                display: block;
                left: -21px;
                top: 0;
                position: absolute;
                background-image: url(../images/plus_icon.svg);
            }
        }
    }
    .drop__off{
        width: 100%;
        float: left;
        &.hide{
            display: none;
        }
    }
    .inline__group{
        width: 100%;
        float: left;
        .field__group{
            &:nth-child(1){
                width: 20%;
                padding-right: 10px;
            }
            &:nth-child(2){
                width: 40%;
                padding-right: 10px;
            }
            &:nth-child(3){
                width: 40%;
            }
        }
    }
}
.documents{
    width: 100%;
    float: left;
    .document{
        width: 100%;
        min-height: 89px;
        float: left;
        position: relative;
        padding: 31px 200px 31px 45px;
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
        border-radius: 3px;
        margin-bottom: 20px;
        &::before{
            content: '';
            width: 4px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            background: #8AC74F;
            border-radius: 3px 0px 0px 3px;
        }
        h4{
            margin-bottom: 0;
        }
        a{
            position: absolute;
            top: 24px;
            right: 40px;
        }
    }
}
.vacancy__block{
    width: 100%;
    height: 250px;
    display: block;
    float: left;
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    padding: 35px 35px 100px;
    margin-bottom: 30px;
    &::after{
        content: '';
        width: 190px;
        height: 250px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url(../images/vacancy_layout.svg);
        z-index: 0;
    }
    h3{
        margin-bottom: 0;
        position: relative;
        z-index: 1;
    }
    a{
        position: absolute;
        left: 35px;
        bottom: 50px;
        z-index: 1;
    }
}
@include media-breakpoint-down(lg){
    .form__wrapper{
        padding: 30px 30px 50px;
    }
    .quote__block .zebrabus__block{
        right: -250px;
        h2{
            text-align: left;
        }
    }
}
@include media-breakpoint-down(md){
    .route__description {
        padding: 20px 25px 20px 25px;
        .route__block{
            width: 100%;
            margin-bottom: 15px;
        }
        .dates__block{
            width: 100%;
            margin-bottom: 10px;
            .float-right{
                float: left!important;
            }
        }
        .link__block{
            position: static;
            width: 100%;
            text-align: left;
            padding: 0;
        }
    }
    .gallery__section{
        padding: 30px 0 40px;
    }
    .form__wrapper {
        .half__column{
            width: 100%;
        }
        .field__group .placeholder{
            position: static;
        }
    }
    .group__trips{
        padding: 35px 0 50px;
    }
    .quote__block {
        min-height: inherit;
        padding: 30px;
        .text{
            width: 100%;
        }
        .zebrabus__block{
            display: none;
        }
    }
    .advertising{
        padding: 42px 30px 40px 450px;
        .image{
            width: 250px;
        }
        .logo{
            width: 190px;
            left: 255px;
        }
        .text{
            h3{
                font-size: 26px;
                line-height: 30px;
            }
            h2{
                font-size: 48px;
                line-height: 56px;
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .documents{
        .document{
            padding: 31px 40px 31px 45px;
            h4{
                width: 100%;
                float: left;
                margin-bottom: 20px;
            }
            a{
                position: static;
            }
        }
    }
    .form__wrapper .inline__group .field__group{
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3){
            width: 100%;
            padding-right: 0;
        }

    }
    .advertising{
        min-height: inherit;
        padding: 42px 30px 40px 220px;
        .image{
            display: none;
        }
        .logo{
            left: 0;
        }
    }
}
@include media-breakpoint-down(xs){
    .form__wrapper {
        padding: 20px 10px 50px;
    }
    .advertising{
        padding: 30px 35px;
        .logo{
            text-align: center;
            position: static;
            width: 100%;
            img{
                position: static;
                -webkit-transform: translate(0);
                        transform: translate(0);
            }
        }
    }
    .gallery__section .advertising__block{
        padding: 40px 15px 35px;
        height: auto;
        .title{
            h2{
                font-size: 30px;
                line-height: 36px;
            }
            h3{
                font-size: 20px;
                line-height: 28px;
            }
        }
        .button__row a{
            margin: 5px 7px;
        }
    }
}