.preloader__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
    &.hide{
        opacity: 0;
        visibility: hidden;
    }
    .preloader__block{
        width: 553px;
        height: 22px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        .bus{
            width: 238px;
            height: 69px;
            display: block;
            position: absolute;
            background-image: url(../images/bus_icon.svg);
            bottom: 7px;
            left: -200%;
            z-index: 10;
            /*opacity: 0;*/
            -webkit-transition: all 1.5s ease;
            transition: all 1.5s ease;
            &.stop{
                left: 50%;
                -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                &.go{
                    left: 250%;
                    -webkit-transform: translateX(0);
                            transform: translateX(0);
                }
            }
            
        }
        .road{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(../images/road.svg);
            &::before{
                content: '';
                width: 922px;
                height: 3px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                background-image: url(../images/stripe.svg);
            }
        }
        .percent{
            position: absolute;
            bottom: -39px;
            width: 100%;
            left: 0;
            text-align: center;
            font-weight: 500;
            line-height: normal;
            font-size: 16px;
            display: block;
            color: #1A1A1A;
        }
        .people{
            width: 88px;
            height: 49px;
            display: block;
            position: absolute;
            left: 50%;
            top: -49px;
            background-image: url(../images/people.svg);
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            &.hide{
                display: none;
            }
        }
        .sign{
            width: 30px;
            height: 75px;
            display: block;
            position: absolute;
            top: -75px;
            left: 50%;
            margin-left: -27px;
            background-image: url(../images/sign.svg);
        }
    }
}
header{
    width: 100%;
    height: 91px;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #F1F1F1;
    z-index: 100;
    .logo{
        width: 125px;
        height: 65px;
        margin: 13px 0;
        display: block;
        img{
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
    .main__nav{
        margin: 0 0 0 77px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                float: left;
                margin: 0 13px;
                &.current-menu-item{
                    a{
                        color: #1A1A1A;
                        text-decoration: none;
                        &::after{
                            background-color: #8AC74F;
                            -webkit-transform: translateX(0px);
                            transform: translateX(0px);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
                a{
                    display: block;
                    padding: 36px 5px;
                    font-size: 16px;
                    line-height: normal;
                    color: #818181;
                    position: relative;
                    &::after{
                        content: '';
                        width: 100%;
                        height: 2px;
                        display: block;
                        background-color: transparent;
                        left: 0;
                        bottom: -2px;
                        position: absolute;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                        -webkit-transform: translateX(-20px);
                        transform: translateX(-20px);
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover{
                        color: #1A1A1A;
                        text-decoration: none;
                        &::after{
                            background-color: #8AC74F;
                            -webkit-transform: translateX(0px);
                            transform: translateX(0px);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .lang__switcher{
        width: 75px;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        margin: 28px 0 0 0;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &:hover{
            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
            ul{
                position: static;
                opacity: 1;
                visibility: visible;
            }
        }
        .current{
            width: 100%;
            height: 34px;
            display: block;
            text-align: center;
            padding: 8px 16px;
            img{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                overflow: hidden;
                float: left;
                margin-right: 7px;
                margin-top: 2px;
            }
            span{
                float: left;
                font-weight: 300;
                line-height: normal;
                font-size: 16px;
                color: #818181;
                text-transform: uppercase;
            }
        }
        ul{
            width: 100%;
            position: absolute;
            padding: 0;
            margin: 0;
            list-style: none;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            li{
                a{
                    width: 100%;
                    height: 35px;
                    display: block;
                    padding: 8px 16px;
                    img{
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        overflow: hidden;
                        float: left;
                        margin-right: 7px;
                        margin-top: 2px;
                    }
                    span{
                        float: left;
                        font-weight: 300;
                        line-height: normal;
                        font-size: 16px;
                        color: #818181;
                        text-transform: uppercase;
                        -webkit-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                    }
                    &:hover{
                        text-decoration: none;
                        background-color: #8AC74F;
                        span{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .btn{
        margin: 25px 0 25px 43px;
    }
}
.mobile__menu{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    padding: 30px 15px;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateY(-130%);
    transform: translateY(-130%);
    z-index: 90;
    background: #fff;
    text-align: center;
    &.show__menu{
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    .main__nav{
        width: 100%;
        float: left;
        margin-top: 70px;
        margin-bottom: 30px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                width: 100%;
                float: left;
                margin: 10px 0;
                text-align: center;
                &.current-menu-item{
                    a{
                        text-decoration: none;
                        color: #8AC74F;
                    }
                }
                a{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: normal;
                    color: #1A1A1A;
                    &:hover,
                    &.active{
                        text-decoration: none;
                        color: #8AC74F;
                    }
                }
            }
        }
    }
    .lang__switcher{
        width: 100%;
        float: left;
        margin-top: 50px;
        margin-bottom: 30px;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                width: 50%;
                float: left;
                padding: 5px 10px;
                a{
                    font-size: 20px;
                    font-weight: 500;
                    line-height: normal;
                    color: #1A1A1A;
                    text-transform: uppercase;
                    &.active{
                        color: #8AC74F;
                    }
                    img{
                        margin: -2px 5px 0 0;
                    }
                }
            }
        }
    }
}
.mobile__nav{
    width: 100%;
    position: relative;
    display: none;
    .book__btn{
        min-width: 120px;
        margin: 16px 55px 0 0;
        padding: 6px 18px 7px;
        height: 32px;
    }
    .menu__btn{
        width: 32px;
        height: 25px;
        position: absolute;
        top: 20px;
        right: 0;
        cursor: pointer;
        span{
            position: absolute;
            display: block;
            width: 100%;
            left: 50%;
            height: 3px;
            background-color: #8AC74F;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 11px;
            }
            &:nth-child(3){
                bottom: 0px;
            }
        }
        &.show__menu{
            span{
                &:nth-child(1){
                    -webkit-transform: translate(-50%, 12px) rotate(45deg);
                    transform: translate(-50%, 12px) rotate(45deg);
                }
                &:nth-child(2){
                    width: 0;
                }
                &:nth-child(3){
                    -webkit-transform: translate(-50%, -10px) rotate(-45deg);
                    transform: translate(-50%, -10px) rotate(-45deg);
                }
            }
        }
    }
}
@include media-breakpoint-down(lg){
    header .main__nav ul li{
        margin: 0 5px;
    }
}
@include media-breakpoint-down(md){
    header{
        height: 65px;
        .logo{
            width: 85px;
            height: 44px;
            margin: 10px 0;
        }
    }
    .desktop__nav{
        display: none;
    }
    .mobile__nav{
        display: block;
    }
}