/*Archive*/
.routes_banner{
    width: 100%;
    height: 555px;
    float: left;
    margin: 90px 0 35px;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    .content{
        width: 100%;
        height: 555px;
        position: absolute;
        top: 0;
        left: 0;
        .text{
            position: absolute;
            width: 335px;
            top: 40%;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        img{
            margin-bottom: 30px;
        }
        h2{
            font-weight: normal;
            line-height: 41px;
            font-size: 35px;
            color: #FFFFFF;
            margin-bottom: 31px;
        }
    }
}
.archive__link{
    width: 100%;
    float: left;
    margin-top: 25px;
}
.posts__section{
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 110px;
    &.margin{
        margin-top: 70px;
    }
}
.routes__simple{
    width: 100%;
    height: 90px;
    float: left;
    margin: 15px 0;
    border-left: 4px solid #8AC74F;
    padding: 15px 28px 15px 28px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
    a{
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    h4{
        position: absolute;
        left: 28px;
        right: 190px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-bottom: 0;
    }
}
/*Single*/
.routes__post{
    width: 100%;
    height: 300px;
    margin: 20px 0;
    float: left;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    &:hover{
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .detail{
        width: 50%;
        height: 100%;
        background-color: rgba(138, 199, 79, 0.95);
        padding: 30px 25px 65px 25px;
        position: relative;
        h4{
            font-weight: bold;
            line-height: normal;
            font-size: 21px;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 12px;
        }
        h6{
            font-weight: bold;
            line-height: normal;
            font-size: 16px;
            color: #FFFFFF;
            margin-bottom: 10px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                width: 100%;
                float: left;
                position: relative;
                font-weight: normal;
                line-height: 22px;
                font-size: 14px;
                text-decoration-line: underline;
                color: #FFFFFF;
                padding-left: 12px;
                &:before{
                    content: '';
                    width: 6px;
                    height: 6px;
                    display: block;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    top: 7px;
                    border-radius: 50%;
                }
            }
        }
        span{
            position: absolute;
            bottom: 30px;
            left: 25px;
        }
    }
}
.page__banner{
    width: 100%;
    height: 700px;
    float: left;
    background-size: cover;
    background-position: center;
    position: relative;
    .content__wrapper{
        width: 100%;
        height: 700px;
        float: left;
        position: relative;
        .content{
            position: absolute;
            top: 55%;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            h1{
                font-weight: 900;
                line-height: 90px;
                font-size: 70px;
                color: #FFFFFF;
                text-shadow: 0px 8px 16px rgba(0, 0, 0, 0.13);
                margin-bottom: 100px;
            }
            .description{
                width: 100%;
                max-width: 990px;
                background-color: #fff;
                padding: 46px 53px 50px 40px;
                border-top: 4px solid #8AC74F;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                h2{
                    margin-bottom: 20px;
                }
                p{
                    font-weight: 300;
                    line-height: 26px;
                    font-size: 16px;
                    color: #818181;
                    margin-bottom: 0;
                }
            }
        }
    }
    &::before{
        content: '';
        display: block;
        width: 833px;
        height: 658.5px;
        background-image: url(../images/routes_dashed.png);
        position: absolute;
        top: 41.5px;
        right: 0;
    }
}
.information{
    width: 100%;
    float: left;
    padding: 100px 0 200px;
    .description{
        width: 100%;
        float: left;
    }
    .extras{
        width: 100%;
        float: left;
        margin-bottom: 30px;
        .extra{
            position: relative;
            float: left;
            margin: 20px 30px 20px 0;
            img{
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            h5{
                padding-left: 45px;
                margin-bottom: 0;
            }
        }
    }
    .btn__row{
        width: 100%;
        float: left;
        a{
            margin-right: 20px;
        }
    }
}
.images__block{
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    img{
        box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.09);
        border-radius: 3px;
        max-width: 100%;
        height: auto;
        &.image__2{
            max-width: 410px;
            position: relative;
            top: -80px;
        }
    }
}
.additional__information{
    width: 100%;
    float: left;
    padding: 100px 0 120px;
    position: relative;
    &.small__padding{
        padding: 80px 0 0;
    }
}
.zebra__block{
    position: absolute;
    right: 0;
    top: -205px;
}
.periods__wrapper{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 94px;
    .periods__block{
        width: 100%;
        float: left;
        margin-top: 43px;
    }
    .periods__nav{
        width: 100%;
        max-width: 300px;
        float: left;
        background: #8AC74F;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        cursor: pointer;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        &:hover{
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14);
            .periods__list{
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.14);
            }
            .current__period::after{
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .current__period{
            height: 43px;
            padding: 11px 47px;
            font-weight: 500;
            display: block;
            color: #fff;
            &::before{
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                background-image: url(../images/calendar_icon.svg);
                left: 15px;
                top: 11px;
            }
            &::after{
                content: '';
                width: 12px;
                height: 8px;
                display: block;
                position: absolute;
                background-image: url(../images/date_arrow.svg);
                right: 15px;
                top: 17px;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }
        .periods__list{
            width: 100%;
            float: left;
            padding: 15px 0;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            position: absolute;
            left: 0;
            top: 100%;
            background: #8AC74F;
            -webkit-transform: translateY(10px);
            transform: translateY(10px);
        }
        .period__date{
            width: 100%;
            float: left;
            font-weight: 400;
            line-height: 18px;
            font-size: 14px;
            color: #FFFFFF;
            background: #8AC74F;
            padding: 9px 15px;
            position: relative;
            cursor: pointer;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            &:hover{
                background-color: #79bb3a;
            }
            &.active{
                
            }
        }
    }
    .period{
        width: 100%;
        float: left;
        background-color: #fff;
        padding: 30px 70px 55px 88px;
        display: none;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
        border-radius: 0px 0px 3px 3px;
        &.active{
            display: block;
        }
    }
    .period__information{
        width: 100%;
        float: left;
        position: relative;
        padding-left: 47px;
        margin-bottom: 20px;
        &::before{
            content: '';
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            left: 20px;
            top: 3px;
            background-image: url(../images/info_icon.svg);
        }
        p{
            margin-bottom: 0;
        }
    }
    .directions__group{
        width: 100%;
        float: left;
        .directions{
            width: 100%;
            float: left;
            margin-bottom: 52px;
            .title{
                width: 100%;
                float: left;
                margin-bottom: 20px;
                padding-left: 20px;
                padding-right: 30px;
                h5{
                    width: 60%;
                    float: left;
                    font-weight: normal;
                    line-height: 23px;
                    font-size: 18px;
                    color: #8AC74F;
                    margin-bottom: 0px;
                }
                .description{
                    width: 20%;
                    float: left;
                    line-height: 21px;
                    min-height: 21px;
                    font-size: 16px;
                    color: #1A1A1A;
                }
                .daily__time{
                    width: 20%;
                    min-height: 24px;
                    float: left;
                    position: relative;
                    .text{
                        display: block;
                        line-height: 21px;
                        font-size: 16px;
                        text-decoration-line: underline;
                        color: #818181;
                        cursor: pointer;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                    }
                    .info__window{
                        width: 385px;
                        position: absolute;
                        display: block;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
                        border-radius: 3px;
                        border-top: 4px solid #8AC74F;
                        padding: 24px 50px 30px 25px;
                        bottom: -12px;
                        -webkit-transform: translateY(110%);
                                transform: translateY(110%);
                        right: 0;
                        margin-top: 18px;
                        font-weight: normal;
                        line-height: 20px;
                        font-size: 14px;
                        color: #1A1A1A;
                        opacity: 0;
                        visibility: hidden;
                        text-align: left;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                        z-index: 1;
                        &::before{
                            content: '';
                            display: block;
                            width: 0px;
                            height: 0px;
                            border-width: 0px 8px 6px;
                            border-style: solid;
                            border-color: transparent transparent #8AC74F;
                            position: absolute;
                            top: -10px;
                            right: 10px;
                        }
                    }
                    &:hover{
                        .text{
                            color: #8AC74F;
                        }
                        .info__window{
                            opacity: 1;
                            visibility: visible;
                            -webkit-transform: translateY(100%);
                                    transform: translateY(100%);
                        }
                    }
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .directions__rows{
        width: 100%;
        float: left;
        .direction__row{
            width: 100%;
            float: left;
            margin: 5px 0;
            padding: 9px 30px 9px 20px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            &:hover{
                background-color: rgba(9, 9, 9, 0.03);
            }
            >div{
                line-height: 21px;
                min-height: 21px;
                font-size: 16px;
                color: #1A1A1A;
            }
            .name{
                width: 40%;
                float: left;
            }
            .map__link{
                width: 20%;
                float: left;
                a{
                    position: relative;
                    padding-left: 20px;
                    color: #818181;
                    text-decoration: underline;
                    &::before{
                        content: '';
                        width: 12px;
                        height: 15px;
                        display: block;
                        background-image: url(../images/map_icon.svg);
                        position: absolute;
                        top: 50%;
                        left: 0;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                    }
                    &:hover{
                        color: #8AC74F;
                    }
                }
            }
            .status{
                width: 20%;
                float: left;
            }
            .daily__time,
            .variable__time{
                width: 20%;
                height: 21px;
                float: left;
                .value{
                    float: right;
                    position: relative;
                    .text{
                        line-height: 21px;
                        font-size: 16px;
                        text-decoration-line: underline;
                        color: #818181;
                        cursor: pointer;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                    }
                    .info__window{
                        width: 385px;
                        position: absolute;
                        display: block;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
                        border-radius: 3px;
                        border-top: 4px solid #8AC74F;
                        padding: 24px 50px 30px 25px;
                        bottom: -12px;
                        -webkit-transform: translateY(110%);
                                transform: translateY(110%);
                        right: 0;
                        margin-top: 18px;
                        font-weight: normal;
                        line-height: 20px;
                        font-size: 14px;
                        color: #1A1A1A;
                        opacity: 0;
                        visibility: hidden;
                        text-align: left;
                        -webkit-transition: all 0.2s ease;
                                transition: all 0.2s ease;
                        z-index: 1;
                        &::before{
                            content: '';
                            display: block;
                            width: 0px;
                            height: 0px;
                            border-width: 0px 8px 6px;
                            border-style: solid;
                            border-color: transparent transparent #8AC74F;
                            position: absolute;
                            top: -10px;
                            right: 10px;
                        }
                    }
                    &:hover{
                        .text{
                            color: #8AC74F;
                        }
                        .info__window{
                            opacity: 1;
                            visibility: visible;
                            -webkit-transform: translateY(100%);
                                    transform: translateY(100%);
                        }
                    }
                }
            }
        }
    }
}
.special__offer{
    width: 100%;
    float: left;
    margin-bottom: 70px;
    margin-top: 70px;
    h3.special{
        position: relative;
        padding-left: 42px;
        margin-bottom: 25px;
        color: #1A1A1A;
        &::before{
            content: '';
            width: 31px;
            height: 32px;
            display: block;
            background-image: url(../images/special_icon.svg);
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    .special__block{
        width: 100%;
        min-height: 295px;
        float: left;
        position: relative;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        >img{
            width: 100%;
            max-width: 470px;
            float: left;
            position: absolute;
            top: 37px;
            left: -30px;
        }
        .special__description{
            width: 100%;
            float: left;
            padding: 35px 100px 51px 470px;
            h5{
                font-weight: normal;
                line-height: 25px;
                font-size: 18px;
                color: #1A1A1A;
                margin-bottom: 9px;
            }
            p{
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
                font-size: 14px;
                color: #1A1A1A;
                margin-bottom: 18px;
            }
            a.simple__btn{
                margin-left: 20px;
            }
            .price__row{
                width: 100%;
                float: left;
                position: relative;
                margin: 0px 0 22px 0;
                .price{
                    width: 210px;
                    height: 60px;
                    float: left;
                    margin: 0 5px 5px 0;
                    background: #FFFFFF;
                    border: 1px solid #F1F1F1;
                    box-sizing: border-box;
                    border-radius: 2px;
                    padding: 10px 10px 12px 51px;
                    position: relative;
                    .icon{
                        width: 51px;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    h6{
                        font-weight: 500;
                        line-height: normal;
                        font-size: 14px;
                        color: #1A1A1A;
                        margin-bottom: 2px;
                    }
                }
                .new__price{
                    font-weight: 400;
                    line-height: 23px;
                    font-size: 16px;
                    color: #1A1A1A;
                }
                .old__price{
                    font-weight: 300;
                    line-height: 18px;
                    font-size: 14px;
                    text-decoration-line: line-through;
                    color: #818181;
                    padding-left: 8px;
                }
                .adult__price{
                    margin-right: 55px;
                    float: left;
                    position: relative;
                    padding-left: 27px;
                }
                .child__price{
                    float: left;
                    position: relative;
                    padding-left: 34px;
                }
                img{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
.tickets{
    width: 100%;
    float: left;
    .table__title{
        width: 100%;
        float: left;
        position: relative;
        padding-left: 42px;
        margin-top: 27px;
        margin-bottom: 25px;
        img{
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        h3{
            margin-bottom: 0;
        }
    }
    .pricelist__table{
        width: 100%;
        float: left;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        padding: 55px 71px 21px 45px;
        margin-bottom: 37px;
        border-radius: 3px;
        .table__row{
            width: 100%;
            float: left;
            margin: 29px 0;
            .stations{
                width: 60%;
                float: left;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
            }
            .price{
                padding-left: 34px;
                position: relative;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
                img{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                span{
                    font-weight: 300;
                    line-height: 23px;
                    font-size: 18px;
                    color: #1A1A1A;
                }
            }
            .full__price{
                width: 20%;
                float: left;
                .price{
                    padding-left: 28px;
                }
            }
            .child__price{
                width: 20%;
                float: left;
            }
            .promo__title{
                width: 50%;
                float: left;
                text-align: left;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
            }
            .promo__price{
                width: 50%;
                float: left;
                text-align: right;
                font-weight: 300;
                line-height: 23px;
                font-size: 18px;
                color: #1A1A1A;
            }
        }
    }
    .discount__table{
        width: 100%;
        min-height: 80px;
        float: left;
        background-color: #fff;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        padding: 16px 34px;
        margin-bottom: 10px;
        position: relative;
        border-radius: 3px;
        .table__row{
            float: left;
            position: absolute;
            padding-left: 65px;
            left: 34px;
            right: 34px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            img{
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
            .text{
                h6{
                    margin-bottom: 5px;
                }
                p{
                    font-weight: 300;
                    line-height: 18px;
                    font-size: 14px;
                    color: #818181;
                    margin-bottom: 0;
                    span{
                        font-weight: 300;
                        line-height: 26px;
                        font-size: 18px;
                        color: #1A1A1A;
                    }
                }
            }
        }
    }
    .buy__block{
        width: 100%;
        min-height: 280px;
        float: left;
        background: #FFFFFF;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        text-align: center;
        padding: 35px;
        position: relative;
        &.online{
            h5{
                padding-right: 25px;
                width: auto;
                &::after{
                    content: '';
                    width: 20px;
                    height: 20px;
                    display: block;
                    background-image: url(../images/online_icon.svg);
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }
        }
        &.large{
            .content{
                position: absolute;
                top: 50%;
                left: 45px;
                right: 60px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                text-align: left;
                padding-left: 136px;
                img{
                    top: 0;
                    left: 45px;
                }
                h5{
                    position: static;
                    margin-bottom: 9px;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                }
                p{
                    font-weight: 300;
                    line-height: 21px;
                    font-size: 14px;
                    color: #1A1A1A;
                    margin-bottom: 0;
                }
            }
        }
        h5{
            width: 100%;
            position: absolute;
            top: 35px;
            margin-bottom: 32px;
            font-weight: 400;
            color: #1A1A1A;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        img{
            display: block;
            position: absolute;
            top: 91px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            margin: 0 auto;
        }
        a{
            position: absolute;
            bottom: 42px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
    .advertising{
        margin-top: 45px;
    }
}
.busline__block{
    width: 100%;
    float: left;
    background: #FFFFFF;
    padding: 30px 30px 35px 30px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 23px;
    &.margin{
        margin-bottom: 110px;
    }
    h3{
        margin-bottom: 13px;
        font-weight: 500; 
    }
}
.busline__row{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding: 8px 28px 8px 70px;
    position: relative;
    background: #F8F8F8;
    border-radius: 3px;
    .icon{
        position: absolute;
        width: 35px;
        height: 16.36px;
        top: 20px;
        left: 20px;
        background-image: url(../images/busline_icon.svg);
    }
    .stations{
        width: 70%;
        padding: 8px 0;
        float: left;
        h5{
            margin-bottom: 0;
        }
        b{
            font-weight: 400;
        }
    }
    .link{
        width: 30%;
        float: left;
    }
}
@media screen and (max-width: 1500px){
    .page__banner .content__wrapper .content{
        h1{
            font-size: 60px;
            line-height: 80px;
            margin-bottom: 50px;
        }
        .description{
            padding: 30px 35px;
        }

    }
    .information .extras .extra{
        width: 100%;
        margin: 20px 0;
    }
    .periods__wrapper .directions__group .directions .title{
        // h5,
        // .description,
        // .daily__time .text,
        // .variable__time .text{
        //     font-size: 12px;
        //     line-height: 18px;
        // }
    }
    .periods__wrapper .directions__rows .direction__row>div{
        font-size: 14px;
        line-height: 18px;
    }
    .routes__simple{
        h4{
            left: 20px;
            right: 180px;
            font-size: 16px;
        }
        a{
            right: 20px;
        }
    }
}
@include media-breakpoint-down(lg){
    .routes_banner{
        background-position: 30% 50%;
        .content{
            left: 50px;
        }
    }
    .page__banner{
        min-height: 500px;
        height: auto;
        .content__wrapper{
            height: 500px;
            .content{
                top: inherit;
                bottom: 30px;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
    .information{
        padding: 70px 0 100px;
    }
    .periods__wrapper .period{
        padding: 30px 20px;
    }
    .special__offer .special__block{
        >img{
            max-width: 400px;
        }
        .special__description{
            padding: 25px 30px 25px 400px;
        }
    }
}
@include media-breakpoint-down(md){
    .routes_banner{
        height: 400px;
        .content{
            height: 400px;
            .text{
                top: 45%;
            }
        }
    }
    .routes__post{
        .detail{
            width: 60%;
            h4{
                font-size: 20px;
            }
        }
    }
    .routes__simple{
        h4{
            font-size: 18px;
        }
    }
    .periods__wrapper .directions__group .directions .title{
        h5,
        .description,
        .daily__time .text,
        .variable__time .text{
            font-size: 14px;
            line-height: 18px;
        }
    }
    .page__banner{
        .content__wrapper{
            .content{
               h1{
                font-size: 48px;
                line-height: 60px;
               }
               .description{
                    padding: 20px 25px;
                    h2{
                        font-size: 30px;
                        line-height: 38px;
                    }
                }
            }
        }
    }
    .images__block img.image__2{
        width: 50%;
    }
    .special__offer .special__block .special__description{
        padding: 25px 30px;
    }
    .buy__block{
        margin-bottom: 15px;
    }
    .busline__row {
        .stations{
            width: 100%;
        }
        .link{
            width: 100%;
            margin: 5px 0 10px;
            &.text-right{
                text-align: left!important;
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .images__block img.image__2{
        width: 70%;
    }
    .periods__wrapper {
        .period{
            padding: 20px 10px;
        }
        .directions__group .directions .title{
            margin-bottom: 5px;
            padding-right: 20px;
            h5{
                width: 70%;
            }
            .daily__time,
            .variable__time{
                width: 30%;
            }
            .description{
                display: none;
            }
        }
        .directions__rows .direction__row{
            padding: 5px 20px 5px 20px;
            .name{
                width: 70%;
                // margin-bottom: 5px;
            }
            .map__link,
            .status{
                display: none;
            }
            .daily__time,
            .variable__time{
                width: 30%;
            }
        }
    }
    .tickets .pricelist__table{
        padding: 15px 30px;
        .table__row{
            margin: 20px 0;
            .stations{
                width: 100%;
                margin-bottom: 15px;
            }
            .full__price,
            .child__price{
                width: 50%;
                margin: 15px 0;
            }
        }
    }
    .page__banner .content__wrapper .content .description{
        h2{
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
        }
    }
    .routes__simple{
        height: auto;
        text-align: center;
        h4{
            position: static;
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        a{
            position: static;
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
    }
}
@include media-breakpoint-down(xs){
    .routes_banner{
        background-position: 20% 50%;
        .content{
            left: 15px;
            width: auto;
            right: 15px;
            .text{
                width: 100%;
            }
        }
    }
    .routes__post{
        .detail{
            width: 100%;
            background-color: rgba(138,199,79,.8);
        }
    }
    .page__banner{
        .content__wrapper{
            height: 550px;
            .content{
               h1{
                font-size: 34px;
                line-height: 40px;
                margin-bottom: 20px;
               }
               .description{
                padding: 15px 20px;
               }
            }
        }
    }
    .images__block img.image__2{
        width: 80%;
    }
    .information{
        padding: 50px 0 60px;
        .btn__row a{
            margin: 0 0 20px;
        }
    }
    .special__offer .special__block .special__description{
        .price__row {
            margin-bottom: 20px;
            .price{
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
        a,
        a.simple__btn{
            display: block;
            margin: 15px 0 0 0;
            clear: both;
        }
    }
    .tickets {
        .pricelist__table{
            padding: 10px 20px;
        }
        .discount__table{
            min-height: inherit;
            padding: 10px 20px;
            .table__row{
                padding-left: 50px;
                left: 15px;
                position: static;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                img{

                }
            }
        }
    }
    .tickets .buy__block.large .content {
        padding-left: 0;
        img{
            display: none;
        }
    }
    .periods__wrapper .directions__group .directions .title .daily__time .info__window{
        width: 250px;
        padding: 24px 25px 30px 25px;
    }
    .busline__row {
        padding: 40px 20px 8px;
        .stations {

            h5{
                font-size: 16px;
            }
        }
    }
}